<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Внучатый крмпонент</h4>
    <p>Это сообщение - @MessageForGrandChild</p>
    <p>Счастливое число - @LuckyNumberForGrandChild</p>
</div>

@code {
    [CascadingParameter(Name = "message")]
    public string MessageForGrandChild { get; set; }
    [CascadingParameter(Name = "luckyNumber")]
    public string LuckyNumberForGrandChild { get; set; }
}
