<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Внучатый крмпонент</h4>
    <p>Это сообщение - @MessageForGrandChild</p>
</div>

@code {
    [Parameter]
    public string MessageForGrandChild { get; set; }

}
