<AuthorizeView>
    <Authorized>
        Добрый день, @context.User.Identity.Name
        <a href="Identity/Account/Logout">Выйти</a>        
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Регистрация</a>
        <a href="Identity/Account/Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>


@code {

}
