@page "/learnBlazor/demoproduct"

<h2 class="text-primary">DemoProduct</h2>
<p>Всего в избранном: @SelectedFavouriteCount</p>
<p>Последний выбраный продукт: @LastSelectedProductName</p>
<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row">
        @foreach (var prod in Products)
        {
            <_IndividualProduct Product="prod"
            OnFavoriteUpdated="FavouriteCountUpdate"
            OnLastSelectedProductChange="SelectedProductUpdate">
            <FirstFragment>#1</FirstFragment>
            <SecondFragment>#2</SecondFragment>
            </_IndividualProduct>
        }
    </div>
</div>

@code {
    List<Demo_Product> Products = new();
    private int SelectedFavouriteCount { get; set; } = 0;
    private string LastSelectedProductName { get; set; }

    protected override void OnInitialized()
    {

        Products.Add(new()
            {
                Id = 1,
                Name = "Полночное пламя",
                IsActive = false,
                Price = 15.99,
                ProductProperties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Аромат", Value = "Роза" },
                    new Demo_ProductProp { Id = 2, Key = "Размер", Value = "20oz" },
                    new Demo_ProductProp { Id = 3, Key = "Цвет", Value = "Пурпурный" }
                }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Цветущая лилия",
                IsActive = true,
                Price = 18.99,
                ProductProperties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Аромат", Value = "Лилия" },
                    new Demo_ProductProp { Id = 2, Key = "Размер", Value = "18oz" },
                    new Demo_ProductProp { Id = 3, Key = "Цвет", Value = "Белый" }
                }
            });
    }
    protected void FavouriteCountUpdate(bool isSelected)
    {
        if(isSelected)
        {
            SelectedFavouriteCount++;
        }
        else
        {
            SelectedFavouriteCount--;
        }
    }

    protected void SelectedProductUpdate(string productName)
    {
        LastSelectedProductName = productName;
    }
    
}
