@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="Этот заголовок передан в качестве параметра из родительского компонента">
    <ChildContent>Рендеринг фрагмента из Родителя</ChildContent>
    <DangerChildContent>Рендеринг danger фрагмента из Родителя</DangerChildContent>
</_ChildComponent>

<p><b>@messageText</b></p>
<_AnotherChildComponent InputAttributes="InputAttributesFromParent"></_AnotherChildComponent>

@*<_ChildComponent Title="Этот второй дочерний компонент">
</_ChildComponent>*@

@code {

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "required" , "required"},
        { "placeholder", "Введите имя из Родителя"},
        { "maxlength", 5 }
    };


    public string messageText = "";
    private void ShowMessage()
    {
        messageText = "Кнопка нажата из Дочернего компонента";
    }

}
