@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent Title="Этот заголовок передан в качестве параметра из родительского компонента">
    Рендеринг фрагмента из Родителя
</_ChildComponent>

<_ChildComponent Title="Этот второй дочерний компонент">
</_ChildComponent>

@code {

}
